<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.battery_library" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
</manifest>
